<div class="announcementbar-wrap">
    <img class="announcement-icon" src="img/announcement-icon.png" alt="announcement icon" />
    <p class="announcement-text">Find out more about Huddle <a class="explore-link" href="/">here...</a></p>
</div>