<div id="navbar" class="navbar-wrap">
    <div class="nav-left">
        <a href="/">
            <img class="logo" src="img/huddle-logo.svg" alt="huddle logo">
        </a>
    </div>
    <div class="nav-right">
        <div class="nav-right-1">

            <ul class="nav-links">
                <li id="a-nav-home-li" class="li-nav-left"><a id="a-nav-home" class="a-nav-text" href="/">home</a></li>
                <li id="a-nav-about-li" class="li-nav-left"><a id="a-nav-about" class="a-nav-text"
                        href="/about">about</a></li>
                <li id="a-nav-search-li" class="li-nav-left"><a id="a-nav-search" class="a-nav-text"
                        href="/search">search</a></li>
            </ul>
            </nav>
        </div>

        <div class="nav-right-2">

            <ul class="nav-links">
                <li id="signup-link" class="li-nav-right"><a class="a-nav-text" href="/join">sign up</a></li>
                <a class="link-login" href="/login"><button class="btn-login">login<img class="login-icon"
                            src="img/login-icon.svg" alt="login icon"></button></a>
            </ul>
            </nav>
        </div>
    </div>
    <div class="nav-right-mob">
        <ul class="nav-menu">
            <li class="nav-item">
                <a id="a-nav-home" href="/" class="nav-link">home</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">about</a>
            </li>
            <li class="nav-item">
                <a href="/search" class="nav-link">search</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">login</a>
            </li>
            <li class="nav-item">
                <a href="/join" class="nav-link">sign up</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar-mid"></span>
            <span class="bar"></span>
        </div>
    </div>
</div>