h4 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

.li-footer-links {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    opacity: 75%;
}

.li-footer-links > a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    opacity: 75%;
}

.li-footer-links:hover {
    color: #3b02ff;
    transition: linear 0.2s;
    opacity: 100%;
}

.footer-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 80px 15% 80px 15%;
    background-color: #000;
    color: #fff;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:  stretch;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

.footer-r {
    height: auto;
    display: flex;;
    flex: 1;
    padding: 15px 20px 0px 20px;
}

.footer-r > h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.footer-r1 {
    flex-direction: column;
    align-items: flex-start;
}

.footer-r2 {
    flex-direction: row;
    margin: 0px 15px 0px 15px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer-menu-left {
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
margin-right: 30px;
text-align: center;
}

.footer-menu-right {
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
margin-left: 30px;
text-align: center;
}

.footer-r3 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.logo-white {
    width: 140px;
    height: auto;
    margin-bottom: 30px;
}

.footer-r > p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    max-width: 200px;
    margin-bottom: 40px;
}

.social-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.social-link {
    opacity: 100%;
}

.social-link:hover {
    transition: linear 0.2s;
    opacity: 60%;
}

.social-icon {
    margin-right: 10px;
}

.footer-tel-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;
    text-align: end;
    font-size: 18px;
}

.footer-email-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    font-size: 18px;
}

.footer-email-div > a {
    color: #fff;
}

.footer-tel-div > a {
    color: #fff;
}


@media only screen and (max-width: 900px) {
    
    .footer-content {
        flex-direction: column;
    }

    .footer-r {
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-r1 {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-r1 > p {
        font-size: 18px;
    }

    .social-wrap {
        align-items: center;
    }

    .footer-r2 {
        flex-direction: column;
    }

    .footer-menu-right {
        margin: 0px; 
    }
    
    .footer-menu-left {
        margin: 0px 0px 30px 0px;
    }

    .footer-tel-div {
        text-align: center;
        align-items: center;
    }

    .footer-email-div {
        text-align: center;
        align-items: center;
    }

}