<!DOCTYPE html>
<html>

<head>
    <title>Inside Huddle</title>
    <%- include ('../partials/head-links.ejs') %>
</head>

<body>
    <header>
        <%- include ('../partials/announcementbar.ejs') %>
        <%- include ('../partials/header.ejs') %>
    </header>
    <section class="section-hero">
        <div class="div-hero-content">
            <h1>login</h1>
        </div>
    </section>
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
</body>

</html>